/*========== Reset ==========*/
*{ margin: 0; padding: 0; }

html,body { font-size: 10px; color: #111; font-family: 'Roboto', sans-serif; }

ul{ list-style: none; }

a{ text-decoration: none; color: #000; }

h1{ font-size: 3.2rem; font-weight: 700; }

h2{ font-size: 2.8rem; font-weight: 700; }

h3{ font-size: 2.5rem; font-weight: 700; }

h4{ font-size: 2.3rem; }

h5{ font-size: 2.0rem; }

h6{ font-size: 1.8rem; }

p{ font-size: 1.6rem; }